.bodySign{
    height: 90vh;
    position: relative;
}


.log_sign_btns_div{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: reg;
    color: var(--white);
    margin: 0 auto;
}

.sign_btns{
    background-color: var(--sec-color);
    padding: 1% 5%;
    border-radius: 25px;
}

.log_btns{
    padding: 1% 5%;
    border-radius: 25px;
}

.PI_div{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 0 10%;
    margin-top: 10%;
}

.PI_p1{
    font-size: 2.5vw;
    color: var(--white);
    font-family: luicy;
    border: 0.5px solid #0f0f0f;
}

.PI_p2{
    font-size: 1vw;
    color: var(--white2);
    font-family: light;
}

.div_decor_pi{
    width: 65%;
    display: flex;
    align-items: start;
    justify-content: end;
    position: absolute;
    left: 0;
    bottom: 0;
    rotate: 90deg;
    margin-left: -2%;
    margin-bottom: 2%;
    z-index: 0;
}

.decor_PI{
    width: 100%;
}

.signup_onboarding_wrapper {
    margin-top: 10%;
}