* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden; /* kills side scroll bug */
  font-family: 'Albert Regular', sans-serif;
  background-color: #141414;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app-container {
  width: 100%;
  max-width: 414px; /* iPhone 11 width */
  margin: 0 auto;
  background-color: #141414 !important;
}

:root {
  --main-color: #2C5E49;
  --sec-color: #A609F0;
  --white: #FFFFFF;
  --white2: #ffffffbe;
  --pink: #DDAEC5;
}

@font-face {
  font-family: 'Luicy';
  font-style: normal;
  font-weight: 100;
  src: url(./fonts/Luicy-Regular\ Demo.ttf),

}

@font-face {
  font-family: 'Albert Semi Bold';
  font-style: normal;
  font-weight: 600;
  src: url(./fonts/AlbertSans-Regular.ttf),
}

@font-face {
  font-family: 'Albert Regular';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/AlbertSans-SemiBold.ttf),
}

@font-face {
  font-family: Bold;
  src: url(fonts/AlbertSans-Bold.ttf);
}

@font-face {
  font-family: light;
  src: url(fonts/AlbertSans-Light.ttf);
}

@font-face {
  font-family: decor;
  src: url(fonts/MeaCulpa-Regular.ttf);
}

#root {
  background-color: #141414 !important;
}

div[class$='-page'],
div[class$='-container'] {
  background-color: #141414 !important;
}

h1, h2, h3, .font-title {
  font-family: 'Luicy', sans-serif !important;
}

strong, b, .semibold, .font-semibold {
  font-family: 'Albert Semi Bold', sans-serif !important;
}

body, p, span, label, input, textarea, button, li, a, .font-regular {
  font-family: 'Albert Regular', sans-serif;
}